body{
    background-color: #181D22;
    font-family: sans-serif;
    font-size: 30px;
    margin: 0;
}

.pickbutton{
    border: none;
    border-radius: 4px;
    font-size: 20px;
    height: 6vh;
    font-size: 4vh;
    width: 25%;
}

.pickbutton:hover{
    background-color: rgb(215, 15, 15);
    color: white;
    transition-duration: 0.5s;
}

.result{
    color: beige;   
}

.title{
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: beige;
    height: 15%;
    font-size: 110%;
    font-weight: bolder;
}

h4{
    color: white;
}

.content{
    height: 67vh;
}